<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Aanvragen student</h1>
    <table>
        <tr>
            <td>Naam student</td>
            <td>Examen</td>
            <td>Reden</td>
            <td>Datum van indienen</td>
        </tr>
        <tr>
            <td><%=inhaal.naam%></td>
            <td><%=inhaal.examen%></td>
            <td><%=inhaal.reden%></td>
            <td><%=inhaal.datum%></td>
        </tr>
    </table>
</body>

</html>