<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Aanvragen student</h1>
    <table>
        <tr>
            <td>Naam student</td>
            <td>Examen</td>
            <td>Reden</td>
            <td>Datum van indienen</td>
        </tr>
        <% for (var i = 0; i < inhaal.length; i++) {%>
        <tr>
            <td><%= inhaal[i].naam %></td>
            <td><%= inhaal[i].examen %></td>
            <td><%= inhaal[i].reden %></td>
            <td><%= inhaal[i].datum %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>