<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Aanvraag inhaalexamen</h1>
    <form action="" method="POST">
        Naam student:
        <input type="text" name="naamStudent" />
        <br />
        Examen:
        <input type="text" name="examen" />
        <br />
        Reden:
        <input type="text" name="reden" />
        <br />
        Datum van indienen:
        <%=new Date().toLocaleDateString();%>
        <br />
        <input type="submit" value="Verzend"/>
    </form>
</body>

</html>